---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">Saiba mais</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}" title="Teste de descrição"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.about }}</p>
                </section>
            </div>
            <div>
                <section>
                    <h2>Contato</h2>
                    <p>{{ site.footer.contact }}</p>
                </section>
            </div>
            <div>
                <section>
                    <h2>Características</h2>
                    <ul>
                        <li>Casa térrea</li>
                        <li>Móveis planejados (da <a href="http://www.sca.com.br" target="_blank">SCA</a>) na cozinha, quartos, sala e banheiros</li>
                        <li>3 vagas para carros (1 coberta)</li>
                        <li>2 quartos (sendo 1 suíte)</li>
                        <li>3 banheiros (1 social, 1 na suíte e 1 na área gourmet)</li>
                        <li>Ampla área gourmet com banheiro completo, escritório e depósito, além de bancada com cooktop e ducha</li>
                        <li>Ar condicionado nos quartos (7 e 9 mil BTUs), sala (22 mil BTUs) e escritório (9 mil BTUs)</li>
                        <li>Cozinha tipo americana integrada à sala de estar e de TV</li>
                        <li>Churrasqueira gourmet (estilo parrilla)</li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
</div>
